body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .header-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-container {
  max-width: 100%;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  align-items: center;
}

.order-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.heading-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}

button {
  cursor: pointer;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin-top: 48px;
  width: 169px;
  height: 56px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.heading-two,
.heading-three {
  color: #2e2f42;
}

.heading-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.heading-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.heading-one,
.name-heading,
.text-team {
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.features-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc(100% - 72px) / 4;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-content {
  padding: 32px 16px;
}

.team-item {
  background-color: #ffffff;
  width: calc(100% - 72px) / 4;
  border-radius: 0 0 4px 4px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 72px;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-content {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
}

.footer-logo .footer-part,
.footer-text {
  color: #f4f4fd;
}

.footer-text {
  margin-top: 8px;
  width: 264px;
}

.page-footer {
  background-color: #2e2f42;
  max-width: 100%;
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: inline-block;
}
